numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
seaborn==0.13.2
tensorflow==2.16.1
keras-tuner==1.4.7
torch==2.5.1
tqdm==4.66.4
scikit-learn==1.4.2
joblib==1.4.2
SQLAlchemy==2.0.32
meteostat==1.6.7
typing-extensions==4.12.2
Werkzeug==3.0.2